/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image:url("../images/cover-image-dark.png");
  --violet:#DB00FF;
  --text-color:#FF0070;
  --title-decor:#FF0070;
  --shadow-effect:#FF0070;
  --main-text-color: #F1B2CE;
  --transparent-text: #000028;
}
.theme-dark .page {
  background-image: var(--bg-image);
}
@media(prefers-color-scheme: dark) {
  :root {
    --bg-image:url("../images/cover-image-dark.png");
    --violet:#DB00FF;
    --text-color:#FF0070;
    --title-decor:#FF0070;
    --shadow-effect:#FF0070;
    --main-text-color: #F1B2CE;
    --transparent-text: #000028;
  }
}

