
:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --main-color: #FFC2E6;
  --title-decor:#FF8DCB;
  --shadow-effect:#FF0070;
  --text-color:#353430;
  --main-text-color: #353430;
  --transparent-text:#353430;
}
.page {
    background-image: var(--bg-image);
}
@media(prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --main-color: #FFC2E6;
    --title-decor:#FF8DCB;
    --shadow-effect:#FF0070;
    --text-color:#353430;
    --main-text-color: #353430;
    --transparent-text:#353430;
  }
  .rec-container {
    display: none;
  }
}