/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono';
  --bg-image:url("../images/cover-image-dark.png");
  --main-color:#DB00FF;
  --text-color:#FF0070;
  --title-decor:#FF0070;
  --main-text-color: #F1B2CE;
  --transparent-text: #000028;
  --background-color: #000028;
  --transparent-border:rgba(255, 0, 112, 0.4);
}
